<!DOCTYPE html>
<head>
	<title>Daye's idea</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.min.css')}}">	
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/idea.css')}}">
	<script type="text/javascript" src="{{url_for('static', filename='js/jquery-1.11.1.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/jquery-ui.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/idea.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/jquery.booklet.latest.min.js')}}"></script>
	<link href="{{url_for('static', filename='css/jquery.booklet.latest.css')}}" type="text/css" rel="stylesheet" media="screen, projection, tv" />
    <style type="text/css">
        body { font:normal 12px/1.2 arial, verdana, sans-serif;}
    </style>
</head>
<body>
			<img src="./static/resource/click_me.png" alt="click_me" width="150x" height="auto" class="click_idea" />
			<a href="{{url_for('hello2')}}"><img src="./static/resource/super_ant.png" alt="super_ant" width="90px" height="auto" class="idea1"/></a>
			<a href="{{url_for('hello3')}}"><img src="./static/resource/clock.png" alt="clock" width="140x" height="auto" class="idea2" /></a>
			<a href="{{url_for('hello4')}}"><img src="./static/resource/delete.png" alt="delete" width="210px" height="auto" class="idea3" /></a>
		</body>	
	</html>